// color-text
$primary-text-color:#212121;
$secondary-text-color:#757575;
$logo-text-color:#000000;
$activ-text-color:#2196F3;
$hero-text-color:#FFFFFF;
$footer-link-color:rgba(255, 255, 255, 0.6);
$button-text-color:#FFFFFF;
// backgraund-color
$primery-background-color:rgba(255, 255, 255, 1);
$hero-background-color:#2F303A;
$header-background-color:#FFFFFF;
$section-background-color:#F5F4FA;