.hero{
    background-color: $hero-background-color;
    text-align: center;
    &__title{
        color: $hero-text-color;
        font-size: 44px;
        line-height: 1.62;
        font-weight: 900;
        letter-spacing: 0.06em;
        padding-top: 118px;
        margin-bottom: 30px;

    }
    &--button{
        min-width: 200px;
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 118px;
    }
   
    background-size: cover;
    background-repeat: no-repeat;
   background-position: center;
    width: 100%;


  

}
@media (max-width:1199px) {
    .hero{
        &__title{
            font-size: 26px;
        }
    }  
    
}
@media (max-width:767px){
    .hero{
        background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/mobile/hero-mobile.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        
          background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/mobile/hero-mobile@2x.jpg);

    }   
} 
}
@media (min-width:768px) and (max-width:1199px){
    .hero{
        background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tablet/hero-tablet.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        
          background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tablet/hero-tablet@2x.jpg);

    }   
} 
}

@media (min-width:1200px) {
    .hero{
        background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/desktop/hero-desktop.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        
          background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/desktop/hero-desktop@2x.jpg);

    }   
}
}