.form__title{
   @include stfont(1.15,0.03em,$primary-text-color);
 font-weight: 700;
 font-size: 20px;
 text-align: center;

 margin-top: 40px;
 margin-bottom:12px ;
 }
 @media (max-width:1199px) {
    .form__title{
        line-height: 1.5;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
    }
    
 }

 .form__item{
    display: flex;
    flex-direction: column;
    margin-left: 41px;
    margin-right: 39px;
   
 }

 .form__field{
   @include stfont(1.17,0.01em,$secondary-text-color);
    font-size: 12px;

    margin-bottom: 4px;
 }
 .form__input{
    width: 100%;
    
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus{
        outline: none;
        border-color: $activ-text-color; 
    }
    &:focus + .form__icon{
      fill: $activ-text-color;
    }
 }

 

 .form__part{
    position: relative;
    margin-bottom: 10px;
 }

 
 .form__icon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

 }

 

 
 .form__comment{
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

    &:focus{
        outline: none;
        border-color: $activ-text-color;  
    }
}

 .form__field input::placeholder{
   @include stfont(1.17,0.01em,rgba(117, 117, 117, 0.5));
    font-size: 12px;
}