.preference{
    margin: 60px 0;

    
    &__icon{
        height: 120px;
        background-color: $section-background-color;
        border-radius: 4px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
       
    
       
    }
    @media (max-width:767px) {
    .preference__list{
        max-width: 450px; 
        margin-bottom: 30px; 
    } 
    .preference__title{
        text-align: center;   
     } 
    }
    
   
    
    &__title{
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;   
        letter-spacing: 0.03em;
        line-height: 1.17;
        margin-bottom: 10px;
    }

 
    &__text{
        color: $secondary-text-color;
        line-height: 1.72;
        letter-spacing: 0.03em;
        
    }
}
@media (min-width:768px) and (max-width:1199px) {
    .preference{
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
        &__list{
            max-width: 354px;
        }
      
    }
   }
   @media (min-width:1200px) {
    .preference{
        display: flex; 
        margin-bottom: 94px; 
        margin-top: 94px; 
        &__list{
            max-width: 270px;
            &:not(:last-child){
                margin-right: 30px; 
            }
        }
    }
   }