
.social-blok{
    display: inline-block;  
}
.social-blok__title{
    text-align: center;
    @include stfont(1.17,0.03em,$header-background-color);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px; 
}
.social-blok__label{
    display:inline-flex ;
    
    &:not(:last-child){
        margin-right: 10px; 
}
}
.social-blok__link {
    display:inline-flex ;
    justify-content: center;
    align-items: center; 
    color: $hero-text-color;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        background-color: $activ-text-color;
}
}
.social-blok__icon {
    fill: currentColor;
}
@media (max-width:768px) {
    .social-blok__title{
        margin-top: 60px;
    }
}
@media (min-width:1200px){
    .social-blok__title{
        text-align: left;
    }
}